@import "modern-normalize";
@import "./nav";

body {
  height: 100vh;
  background: url("./img/bg.jpg") repeat;
}

footer {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #ccc;
}

header,
main,
footer {
  background: #fff;
  margin: 0 20rem;
  padding: 2rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.flash-message {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.flash-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
