@import "modern-normalize";
@import "./variables";
@import "./nav";

body {
  height: 100vh;
  background: var(--body-bg-img) repeat;
  color: var(--text-color);
}

footer {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid var(--border-color);
}

a {
  color: var(--link-color);
}

input,
textarea {
  background: var(--input-bg);
  color: var(--text-color);
}

header,
main,
footer {
  background: var(--content-bg);
  margin: 0 20rem;
  padding: 2rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.flash-message {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.flash-success {
  background-color: var(--success-bg-color);
  color: var(--success-text-color);
  border: 1px solid var(--success-border-color);
}

.flash-error {
  background-color: var(--error-bg-color);
  color: var(--error-text-color);
  border: 1px solid var(--error-border-color);
}
