name: Website Template
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: dev
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: mariadb:12.2
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: website
      MYSQL_USER: website
      MYSQL_PASSWORD: website
    ports:
      - "3306:3306"
    volumes:
      - ./db_data:/var/lib/mysql

networks:
  default:
    driver: bridge
